extends ../base

block content
    video(src=`/${video.fileUrl}`, controls)
    div
        h4=video.title
        p= video.createdAt
        br
    if loggedInUser
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
