extends ../base

block content
    image(src=`/${image.fileUrl}`)
    div
        h4=image.title
        p=image.content
        samll= image.createdAt
        br
    if loggedInUser
        if String(image.owner._id) === String(loggedInUser._id)
            a(href=`${image.id}/edit`) Edit image &rarr;
            br
            a(href=`${image.id}/delete`) Delete image &rarr;
